
<div ng-controller="FooterCtrl">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">UT Coaching Search</h5>
            <p class="grey-text text-lighten-4"> This is not an officially licensed product of the University of Tennessee.</p>
            <p class="grey-text text-lighten-4"> It's just for fun.</p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2017 Copyrite RyansFunGames
        <a class="grey-text text-lighten-4 right" href="#!">Other Fun Links</a>
        </div>
    </div>
</div>