
/* Auth.html */

/* Adding coloring to current coach in search */
.addBackground {
    background-color: hsla(27, 100%, 50%, 0.84);
}

/* Game frame and toggle box */
.game_frame {
    border: 1px solid #58595B;
}

.game_toggle_box {
    border: 1px solid #58595B;
}

/* Button Images and filter */
.gruden {
    width: 150px;
    height: 150px;
    background-image: url('../coaches/Gruden.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.gundy {
    width: 150px;
    height: 150px;
    background-image: url('../coaches/Gundy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.leach {
    width: 150px;
    height: 150px;
    background-image: url('../coaches/Leach.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.martin {
    width: 150px;
    height: 150px;
    background-image: url('../coaches/Martin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.miles {
    width: 150px;
    height: 150px;
    background-image: url('../coaches/Miles.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.schiano {
    width: 150px;
    height: 150px;
    background-image: url('../coaches/Schiano.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

/* chatboard */

#listOfChats {
    list-style-type: none;
}
#nameOfUser {
    text-decoration: underline;
}