

<nav class="nav-wrapper amber darken-3" ng-include="'./app/navigation/partials/navigation.html'"></nav>

<div class="container">
    <div id="leaderBoard">
        <h3>Leaderboard</h3>
            <table class="bordered">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Longest Tenure</th>
                    <th>PAYOUT</th>
                </tr>
                <tr ng-repeat="user in users | orderBy:'-highScore'">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.highScore }} weeks</td>
                    <td>${{ user.payout }}</td>
                </tr>
            </table>
        <div>
            <div id="shareBtn" class="btn btn-success clearfix">Share your longest tenure FaceBook</div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I%20just%20lasted%20{{highScore}}%20weeks%20as%20the%20Athletic%20Director%20at%20the%20University%20of%20Tennessee!%20Play%20the%20Tennessee%20Athletic%20Director%20simulator%20and%20see%20how%20long%20you%20can%20last%20by%20clicking%20the%20link%20below...%20It's%20incredible.%20https://mmcpher2.github.io/RyanSays/">Tweet your tenure</a>
        </div>
    </div>
</div>
