
<nav class="nav-wrapper amber darken-3" ng-include="'/app/navigation/partials/navigation.html'"></nav>

<h2>Chatboard - Coming Soon</h2>
<p>Get ready to tell the other Athletic Directors what you think of their time at the University of Tennessee!</p>


<div>
    <div id="chatBoxHolder">
        <div id="eachChat"></div>
    </div>

    <form ng-controller="ChatboardCtrl">
        <input type="text" placeholder="Enter Chat Here" ng-model="newChat" autofocus>
        <button ng-click="addChat(newChat)">Submit Chat</button>
    </form>
</div>