
<nav class="nav-wrapper amber darken-3" ng-include="'./app/navigation/partials/navigation.html'"></nav>

<div class="container">
    <h3>Search Discussion Board</h3>
    <p>Tell the other Athletic Directors what you think of their search at the University of Tennessee by chatting below!</p>

    <div id="chatDisplaySection">
        <div id="scrollArea" ng-repeat="comment in userChats | filter: query">
            <ul id="listOfChats">
                <li id="nameOfUser">{{comment.firstName}} {{comment.lastName}} ({{comment.datePosted}}): </li>
                <li>{{comment.comment}}</li>
            </ul>
        </div>

        <form>
            <input type="text" placeholder="Enter Chat Here" ng-model="newChat" autofocus>
            <button class="btn waves-effect waves-orange" ng-click="addChat(newChat)">Submit Chat</button>
        </form>
    </div>
</div>