
<nav ng-include="'/app/navigation/partials/navigation.html'"></nav>

<div>

    <section>
        <p>Welcome to the UT coaching search game!</p>
        <p>Enter your name, email, and password to register or login.</p>
    </section>

    <div>
        <input type="text" placeholder="First Name" ng-model="auth.firstName"  autofocus>
        <input type="text" placeholder="Last Name" ng-model="auth.lastName"  autofocus>
        <input type="email" placeholder="Email address" ng-model="auth.email"  autofocus>
        <input type="password" placeholder="Password" ng-model="auth.password" autofocus>
        <button ng-click="registerUser(auth)">Register</button>
        <button ng-click="logMeIn(auth)">Login</button>
    </div>

</div>