
<nav class="nav-wrapper amber darken-3" ng-include="'/app/navigation/partials/navigation.html'"></nav>

<div>
    <div>
        <div class="game_holder">
            <p>Press "Start Search" to begin the UT coaching search!</p>

            <p> Your Current Longest Tenure: {{ highScore }} weeks.</p>
            <p placeholder="0"> Current Week as Athletic Director: {{roundCounter}}</p>

            <div class="game_rows_holder">
                <div class="row_1">
                    <button id="1" ng-click="buttonClick(1)"><div class="gruden"></div></button>
                    <button id="2" ng-click="buttonClick(2)"><div class="gundy"></div></button>
                    <button id="3" ng-click="buttonClick(3)"><div class="leach"></div></button>
                </div>

                <div class="row_2">
                    <button id="4" ng-click="buttonClick(4)"><div class="martin"></div></button>
                    <button id="5" ng-click="buttonClick(5)"><div class="miles"></div></button>
                    <button id="6" ng-click="buttonClick(6)"><div class="schiano"></div></button>
                </div>
            </div>

            <div>
                <span ng-if="!gameStarted()">
                    <button ng-click="startGame()">Start Search</button>
                </span>
                <span ng-if="gameStarted()"></span>
            </div>

            <div id="shareBtn" class="btn btn-success clearfix">Share your longest tenure FaceBook</div>
        </div>
    </div>
</div>
