
<div>
    <div>
        <div class="game_holder">
            <p>Press "Start Search" to begin the UT coaching search!</p>

            <p> ROUND:  {{ roundCounter }}</p>

            <div class="game_rows_holder">
                <div class="row_1">
                    <button ng-click="buttonClick(1)">1</button>
                    <button ng-click="buttonClick(2)">2</button>
                    <button ng-click="buttonClick(3)">3</button>
                </div>

                <div class="row_2">
                    <button ng-click="buttonClick(4)">4</button>
                    <button ng-click="buttonClick(5)">5</button>
                    <button ng-click="buttonClick(6)">6</button>
                </div>
            </div>
            <button ng-click="startGame()">Start Search</button>
        </div>
    </div>
</div>
